<mz-navbar>
        <a class="brand"><img class="logo" src="../assets/graphics/freeCodeCamp.jpg"></a>
          <mz-navbar-item-container [align]="'right'">
            <mz-navbar-item><a routerLink="demos">Demos</a></mz-navbar-item>
            <mz-navbar-item><a routerLink="charts">Bar Chart</a></mz-navbar-item>
            <mz-navbar-item><a href="http://jacklyons.me" target="_blank">About</a></mz-navbar-item>
          </mz-navbar-item-container>
</mz-navbar>

<div class="row">
  <router-outlet></router-outlet>
</div>
<app-bar-chart></app-bar-chart>