/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.nav-wrapper {
  background: #006401;
}
#sidenav-demo {
  background-image: url('./assets/graphics/sidenav-bg.jpg');
  background-size: cover;
  margin-top: 66px;
}
.side-nav li > a {
  color: #fff !important;
  font-weight: bold;
}

.side-nav li {
  background: rgba(255,255, 255,.2);
  padding: .5em;
}

.logo {
  width: 280px;
  margin: 10px;
}

.text-center {
  text-align: center;
}


